/* G-Set _________________________________________________

G-set CSS/Less reset mixins
Gavyn McKenzie 2012
Adapted from 320andup

__________________________________________________________ */
/* Variables */
.header-font {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.body-font {
  font-family: 'Trebuchet MS', Trebuchet, sans-serif;
}
.monospace {
  font-family: "Monaco", Courier New, monospace;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.ir {
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  text-indent: -999em;
  direction: ltr;
}
.ir br {
  display: none;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visuallyhidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  margin: 0;
  height: auto;
  width: auto;
  overflow: visible;
  clip: auto;
}
.invisible {
  visibility: hidden;
}
