/* _________________________________________________

G-set CSS Reset by Gavyn McKenzie
Adapted from 320andUp by @malarkey
21 Feb 2012
_____________________________________________________

1 ROOT
2 HEADINGS
3 TYPOGRAPHY
4 LINKS
5 FIGURES & IMAGES
6 TABLES
7 FORMS
8 VENDOR-SPECIFIC 
9 HELPER CLASSES

*/
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1.4;
  font-family: inherit;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio[controls],
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* G-Set _________________________________________________

G-set CSS/Less reset mixins
Gavyn McKenzie 2012
Adapted from 320andup

__________________________________________________________ */
/* Variables */
.header-font {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.body-font {
  font-family: 'Trebuchet MS', Trebuchet, sans-serif;
}
.monospace {
  font-family: "Monaco", Courier New, monospace;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.ir {
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  text-indent: -999em;
  direction: ltr;
}
.ir br {
  display: none;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visuallyhidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  margin: 0;
  height: auto;
  width: auto;
  overflow: visible;
  clip: auto;
}
.invisible {
  visibility: hidden;
}
html {
  overflow-y: scroll;
  background: #ffffff;
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #666666;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0 auto;
  padding: 0;
  width: auto;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: 'Trebuchet MS', Trebuchet, sans-serif;
  color: #282828;
  background-color: transparent;
  zoom: 1;
}
body:before,
body:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
body:after {
  clear: both;
}
button,
input,
select,
textarea {
  font-family: 'Trebuchet MS', Trebuchet, sans-serif;
  color: #404040;
}
section {
  margin-bottom: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-rendering: optimizelegibility;
  line-height: 1.5em;
  color: #333333;
  margin: 0 0 0.75em 0;
}
h1 {
  font-size: 32px;
  font-size: 3.2rem;
}
h2 {
  font-size: 28px;
  font-size: 2.8rem;
}
h3 {
  font-size: 24px;
  font-size: 2.4rem;
}
h4 {
  font-size: 18.56px;
  font-size: 1.8559999999999998rem;
}
h5 {
  font-size: 18.56px;
  font-size: 1.8559999999999998rem;
}
h6 {
  font-size: 18.56px;
  font-size: 1.8559999999999998rem;
}
p,
ol,
ul,
dl,
address {
  margin-bottom: 1.5em;
  font-size: 16px;
  font-size: 1.6rem;
}
p {
  -webkit-hyphens: auto;
  -webkit-hyphenate-character: "\2010";
  -webkit-hyphenate-limit-after: 1;
  -webkit-hyphenate-limit-before: 3;
  -moz-hyphens: auto;
  hyphens: auto;
  text-align: inherit;
}
ul,
ol {
  margin: 0 0 1.5em 0;
  padding: 0 0 0 1.5em;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin: 0;
}
dl {
  margin-bottom: 1.5em;
}
dt {
  font-weight: inherit;
}
dd {
  margin-bottom: 1.5em;
}
dd:last-child {
  margin-bottom: 0;
}
blockquote {
  margin: 0 0 1.5em 0;
  padding: 0 0 0 1.5em;
  border-left: 1px solid #bfbfbf;
  font-style: italic;
}
blockquote cite {
  font-weight: bold;
}
blockquote cite:before {
  content: " - ";
}
q {
  font-style: italic;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
b,
strong {
  font-weight: bold;
}
em,
i,
dfn {
  font-style: italic;
}
hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #bfbfbf;
}
ins {
  background-color: #666666;
  color: #000000;
  text-decoration: none;
}
mark {
  background-color: #666666;
  color: #000000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: "Monaco", Courier New, monospace;
  font-size: 14.4px;
  font-size: 1.44rem;
  line-height: 1.5em;
  display: block;
}
pre,
code {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 14.4px;
  font-size: 1.44rem;
}
sub,
sup {
  font-size: 14.4px;
  font-size: 1.44rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
a {
  color: #0000cc;
}
a:visited {
  color: #000099;
}
a:hover {
  color: #000099;
}
a:focus {
  outline: thin dotted;
  color: #000099;
}
a:hover,
a:active {
  outline: 0;
}
figure {
  margin-bottom: 1.5em;
}
figure img,
figure object,
figure embed {
  margin-bottom: 0.75em;
  max-width: 100%;
}
figcaption {
  display: block;
  font-weight: normal;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.5em;
  width: 100%;
  font-size: 16px;
  font-size: 1.6rem;
}
th,
td,
caption {
  padding: 0.1875em 10px 0.1875em 5px;
}
tfoot {
  font-style: italic;
}
caption {
  background-color: transparent;
}
tbody tr:nth-child(odd) td {
  background-color: #666666;
}
form {
  margin: 0;
}
fieldset {
  margin-bottom: 1.5em;
  padding: 0;
  border-width: 0;
}
fieldset ul,
fieldset ol {
  list-style-type: none;
  padding: 0;
}
legend {
  *margin-left: -7px;
  padding: 0;
  border-width: 0;
}
label {
  font-weight: normal;
  cursor: pointer;
}
button,
input,
select,
textarea {
  font-size: 16px;
  font-size: 1.6rem;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
  font-family: Verdana, Arial, sans-serif;
  /* This stuff needs to be legible eh */

}
input,
select,
textarea {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  /*-webkit-box-shadow: inset 0 1px 3px -1px #aaaaaa;
	-moz-box-shadow: inset 0 1px 3px -1px #aaaaaa;
	box-shadow: inset 0 1px 3px -1px #aaaaaa;*/

  border: 1px solid #aaa;
  border-color: #aaa #ddd #ddd #aaa;
  padding: 3px 5px;
  -moz-box-sizing: content-box;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}
.ie6 input[type=submit] {
  padding: 0;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button span,
.button span {
  display: inline;
  margin-left: 0;
  position: static;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
::-webkit-selection {
  background: #e6e6e6;
  color: #fafafa;
  text-shadow: none;
}
::-moz-selection {
  background: #333333;
  color: #333333;
  text-shadow: none;
}
::selection {
  background: #333333;
  color: #333333;
  text-shadow: none;
}
::-webkit-input-placeholder {
  font-size: 14.4px;
  font-size: 1.44rem;
  color: #808080;
}
input:-moz-placeholder {
  font-size: 14.4px;
  font-size: 1.44rem;
  color: #808080;
}
.ie7 img,
.iem7 img {
  -ms-interpolation-mode: bicubic;
}
