@import url(http://fonts.googleapis.com/css?family=Lato);
/* Variables */
.header-font {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.body-font {
  font-family: 'Trebuchet MS', Trebuchet, sans-serif;
}
.monospace {
  font-family: "Monaco", Courier New, monospace;
}
/* G-Set _________________________________________________

G-set CSS/Less reset mixins
Gavyn McKenzie 2012
Adapted from 320andup

__________________________________________________________ */
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.ir {
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  text-indent: -999em;
  direction: ltr;
}
.ir br {
  display: none;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visuallyhidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  margin: 0;
  height: auto;
  width: auto;
  overflow: visible;
  clip: auto;
}
.invisible {
  visibility: hidden;
}
/* _________________________________________________

G-set CSS Reset by Gavyn McKenzie
Adapted from 320andUp by @malarkey
21 Feb 2012
_____________________________________________________

1 ROOT
2 HEADINGS
3 TYPOGRAPHY
4 LINKS
5 FIGURES & IMAGES
6 TABLES
7 FORMS
8 VENDOR-SPECIFIC 
9 HELPER CLASSES

*/
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1.4;
  font-family: inherit;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio[controls],
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
html {
  overflow-y: scroll;
  background: #ffffff;
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #666666;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0 auto;
  padding: 0;
  width: auto;
  font-size: 20px;
  font-size: 2rem;
  font-family: 'Trebuchet MS', Trebuchet, sans-serif;
  font-family: 'Lato', sans-serif;
  color: #282828;
  background-color: transparent;
  zoom: 1;
}
body:before,
body:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
body:after {
  clear: both;
}
button,
input,
select,
textarea {
  font-family: 'Trebuchet MS', Trebuchet, sans-serif;
  font-family: 'Lato', sans-serif;
  color: #404040;
}
section {
  margin-bottom: 1.2em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-rendering: optimizelegibility;
  line-height: 1.2em;
  color: #333333;
  margin: 0 0 0.6em 0;
}
h1 {
  font-size: 40px;
  font-size: 4rem;
}
h2 {
  font-size: 35px;
  font-size: 3.5rem;
}
h3 {
  font-size: 30px;
  font-size: 3rem;
}
h4 {
  font-size: 23.2px;
  font-size: 2.32rem;
}
h5 {
  font-size: 23.2px;
  font-size: 2.32rem;
}
h6 {
  font-size: 23.2px;
  font-size: 2.32rem;
}
p,
ol,
ul,
dl,
address {
  margin-bottom: 1.2em;
  font-size: 20px;
  font-size: 2rem;
}
p {
  -webkit-hyphens: auto;
  -webkit-hyphenate-character: "\2010";
  -webkit-hyphenate-limit-after: 1;
  -webkit-hyphenate-limit-before: 3;
  -moz-hyphens: auto;
  hyphens: auto;
  text-align: inherit;
}
ul,
ol {
  margin: 0 0 1.2em 0;
  padding: 0 0 0 1.2em;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin: 0;
}
dl {
  margin-bottom: 1.2em;
}
dt {
  font-weight: inherit;
}
dd {
  margin-bottom: 1.2em;
}
dd:last-child {
  margin-bottom: 0;
}
blockquote {
  margin: 0 0 1.2em 0;
  padding: 0 0 0 1.2em;
  border-left: 1px solid #bfbfbf;
  font-style: italic;
}
blockquote cite {
  font-weight: bold;
}
blockquote cite:before {
  content: " - ";
}
q {
  font-style: italic;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
b,
strong {
  font-weight: bold;
}
em,
i,
dfn {
  font-style: italic;
}
hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #bfbfbf;
}
ins {
  background-color: #666666;
  color: #000000;
  text-decoration: none;
}
mark {
  background-color: #666666;
  color: #000000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: "Monaco", Courier New, monospace;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.2em;
  display: block;
}
pre,
code {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 18px;
  font-size: 1.8rem;
}
sub,
sup {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
a {
  color: #0000cc;
}
a:visited {
  color: #000099;
}
a:hover {
  color: #000099;
}
a:focus {
  outline: thin dotted;
  color: #000099;
}
a:hover,
a:active {
  outline: 0;
}
figure {
  margin-bottom: 1.2em;
}
figure img,
figure object,
figure embed {
  margin-bottom: 0.6em;
  max-width: 100%;
}
figcaption {
  display: block;
  font-weight: normal;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.2em;
  width: 100%;
  font-size: 20px;
  font-size: 2rem;
}
th,
td,
caption {
  padding: 0.15em 10px 0.15em 5px;
}
tfoot {
  font-style: italic;
}
caption {
  background-color: transparent;
}
tbody tr:nth-child(odd) td {
  background-color: #666666;
}
form {
  margin: 0;
}
fieldset {
  margin-bottom: 1.2em;
  padding: 0;
  border-width: 0;
}
fieldset ul,
fieldset ol {
  list-style-type: none;
  padding: 0;
}
legend {
  *margin-left: -7px;
  padding: 0;
  border-width: 0;
}
label {
  font-weight: normal;
  cursor: pointer;
}
button,
input,
select,
textarea {
  font-size: 20px;
  font-size: 2rem;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
  font-family: Verdana, Arial, sans-serif;
  /* This stuff needs to be legible eh */

}
input,
select,
textarea {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  /*-webkit-box-shadow: inset 0 1px 3px -1px #aaaaaa;
	-moz-box-shadow: inset 0 1px 3px -1px #aaaaaa;
	box-shadow: inset 0 1px 3px -1px #aaaaaa;*/

  border: 1px solid #aaa;
  border-color: #aaa #ddd #ddd #aaa;
  padding: 3px 5px;
  -moz-box-sizing: content-box;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}
.ie6 input[type=submit] {
  padding: 0;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button span,
.button span {
  display: inline;
  margin-left: 0;
  position: static;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
::-webkit-selection {
  background: #e6e6e6;
  color: #fafafa;
  text-shadow: none;
}
::-moz-selection {
  background: #333333;
  color: #333333;
  text-shadow: none;
}
::selection {
  background: #333333;
  color: #333333;
  text-shadow: none;
}
::-webkit-input-placeholder {
  font-size: 18px;
  font-size: 1.8rem;
  color: #808080;
}
input:-moz-placeholder {
  font-size: 18px;
  font-size: 1.8rem;
  color: #808080;
}
.ie7 img,
.iem7 img {
  -ms-interpolation-mode: bicubic;
}
/*====================================================================
    grid.css
======================================================================

    @name           Grid mixins
    @author         Gavyn McKenzie
    @copyright      Gavyn McKenzie
    @description    Grid mixins
    @credit         Inspired by http://builtbyboon.com/posed/Proportional-Grids/

======================================================================
    Contents
======================================================================

    - Grid

/*====================================================================
    Grid
======================================================================*/
.grid-wrap {
  margin-left: -1em;
  overflow: hidden;
  clear: both;
}
.grid-basic div {
  float: left;
  padding-left: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333333333333%;
}
.grid-nested div:not(.grid-wrap) {
  float: left;
  padding-left: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
}
.grid-basic-responsive > div {
  float: left;
  padding-left: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
@media (min-width: 30em) {
  .grid-basic-responsive > div {
    float: left;
    padding-left: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
  }
  .grid-basic-responsive > div:last-child {
    float: left;
    padding-left: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }
}
@media (min-width: 50em) {
  .grid-basic-responsive > div {
    float: left;
    padding-left: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333333333333%;
  }
  .grid-basic-responsive > div:last-child {
    float: left;
    padding-left: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333333333333%;
  }
}
.blocked {
  padding: 1em;
  background: #F2F2F2;
  margin-bottom: 1em;
}
/*====================================================================
    buttons.css
======================================================================

    @name           Button mixin
    @author         Gavyn McKenzie
    @copyright      Gavyn McKenzie
    @description    Button mixins

======================================================================
    Contents
======================================================================

    - Button text
    - Buttons
    - Example usage

/*====================================================================
    Text
======================================================================*/
/*====================================================================
    Buttons
======================================================================*/
.btn-small {
  font-size: 18px;
  font-size: 1.8rem;
}
.btn-large {
  font-size: 24px;
  font-size: 2.4rem;
}
/*====================================================================
    Example usage
======================================================================*/
.btn.blue {
  display: inline-block;
  text-decoration: none;
  font-family: inherit;
  padding: 0.5em 1.5em;
  border: 1px solid #6ed2e4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #219bb1;
  text-shadow: -1px -1px transparent, -1px -1px #ffffff;
}
.btn.blue.flat {
  background: #effafc;
}
.btn.blue.flat:hover {
  background: #ffffff;
  color: #219bb1;
  text-shadow: -1px -1px transparent, -1px -1px #ffffff;
}
.btn.blue.flat:active,
.btn.blue.flat:focus {
  background: #ffffff;
  color: #219bb1;
  text-shadow: -1px -1px transparent, -1px -1px #ffffff;
}
.btn.blue.flat:visited {
  background: #effafc;
  color: #219bb1;
  text-shadow: -1px -1px transparent, -1px -1px #ffffff;
}
.btn.blue.gradient {
  background: #effafc;
  background: -webkit-gradient(linear, left bottom, left top, #c4edf4, #effafc);
  background: -moz-linear-gradient(center bottom, #c4edf4 0%, #effafc 100%);
  -o-box-shadow: 0 1px 2px #FFFFFF inset;
  -moz-box-shadow: 0 1px 2px #FFFFFF inset;
  -webkit-box-shadow: 0 1px 2px #FFFFFF inset;
  box-shadow: 0 1px 2px #FFFFFF inset;
}
.btn.blue.gradient:hover {
  background: #fafdfe;
  background: -webkit-gradient(linear, left bottom, left top, #cff0f6, #fafdfe);
  background: -moz-linear-gradient(center bottom, #cff0f6 0%, #fafdfe 100%);
  color: #219bb1;
  text-shadow: -1px -1px transparent, -1px -1px #ffffff;
  -o-box-shadow: 0 1px 2px #ffffff inset, 0px 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px #ffffff inset, 0px 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 2px #ffffff inset, 0px 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px #ffffff inset, 0px 1px 3px rgba(0, 0, 0, 0.15);
}
.btn.blue.gradient:active,
.btn.blue.gradient:focus {
  background: #ffffff;
  color: #219bb1;
  text-shadow: -1px -1px transparent, -1px -1px #ffffff;
  -o-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
}
.btn.blue.gradient:visited {
  background: #effafc;
  color: #219bb1;
  text-shadow: -1px -1px transparent, -1px -1px #ffffff;
}
.btn.blue.plain {
  background: none;
  border: 0px none;
  text-shadow: none;
  color: #effafc;
}
.btn.blue.plain:hover {
  color: #daf3f8;
}
.btn.blue.plain:visited {
  background: #effafc;
}
.btn.blue[disabled],
.btn.blue[disabled]:hover,
.btn.blue[disabled]:focus,
.btn.blue[disabled]:active {
  cursor: default;
  color: #999;
  text-shadow: 1px 1px #FFFFFF;
  background: #eee;
  box-shadow: none;
  border-color: #ddd;
}
.btn.red {
  display: inline-block;
  text-decoration: none;
  font-family: inherit;
  padding: 0.5em 1.5em;
  border: 1px solid #440000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff;
  text-shadow: -1px -1px transparent, -1px -1px #440000;
}
.btn.red.flat {
  background: #dd0000;
}
.btn.red.flat:hover {
  background: #ff1111;
  color: #ffffff;
  text-shadow: -1px -1px transparent, -1px -1px #440000;
}
.btn.red.flat:active,
.btn.red.flat:focus {
  background: #f70000;
  color: #ffffff;
  text-shadow: -1px -1px transparent, -1px -1px #440000;
}
.btn.red.flat:visited {
  background: #dd0000;
  color: #ffffff;
  text-shadow: -1px -1px transparent, -1px -1px #440000;
}
.btn.red.gradient {
  background: #dd0000;
  background: -webkit-gradient(linear, left bottom, left top, #aa0000, #dd0000);
  background: -moz-linear-gradient(center bottom, #aa0000 0%, #dd0000 100%);
  -o-box-shadow: 0 1px 2px #FFFFFF inset;
  -moz-box-shadow: 0 1px 2px #FFFFFF inset;
  -webkit-box-shadow: 0 1px 2px #FFFFFF inset;
  box-shadow: 0 1px 2px #FFFFFF inset;
}
.btn.red.gradient:hover {
  background: #ea0000;
  background: -webkit-gradient(linear, left bottom, left top, #b70000, #ea0000);
  background: -moz-linear-gradient(center bottom, #b70000 0%, #ea0000 100%);
  color: #ffffff;
  text-shadow: -1px -1px transparent, -1px -1px #440000;
  -o-box-shadow: 0 1px 2px #ffffff inset, 0px 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px #ffffff inset, 0px 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 2px #ffffff inset, 0px 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px #ffffff inset, 0px 1px 3px rgba(0, 0, 0, 0.15);
}
.btn.red.gradient:active,
.btn.red.gradient:focus {
  background: #f70000;
  color: #ffffff;
  text-shadow: -1px -1px transparent, -1px -1px #440000;
  -o-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
}
.btn.red.gradient:visited {
  background: #dd0000;
  color: #ffffff;
  text-shadow: -1px -1px transparent, -1px -1px #440000;
}
.btn.red.plain {
  background: none;
  border: 0px none;
  text-shadow: none;
  color: #dd0000;
}
.btn.red.plain:hover {
  color: #c40000;
}
.btn.red.plain:visited {
  background: #dd0000;
}
.btn.red[disabled],
.btn.red[disabled]:hover,
.btn.red[disabled]:focus,
.btn.red[disabled]:active {
  cursor: default;
  color: #999;
  text-shadow: 1px 1px #FFFFFF;
  background: #eee;
  box-shadow: none;
  border-color: #ddd;
}
.btn.green {
  display: inline-block;
  text-decoration: none;
  font-family: inherit;
  padding: 0.5em 1.5em;
  border: 1px solid #36550c;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff;
  text-shadow: -1px -1px transparent, -1px -1px #36550c;
}
.btn.green.flat {
  background: #8bdc1e;
}
.btn.green.flat:hover {
  background: #a2e647;
  color: #ffffff;
  text-shadow: -1px -1px transparent, -1px -1px #36550c;
}
.btn.green.flat:active,
.btn.green.flat:focus {
  background: #97e331;
  color: #ffffff;
  text-shadow: -1px -1px transparent, -1px -1px #36550c;
}
.btn.green.flat:visited {
  background: #8bdc1e;
  color: #ffffff;
  text-shadow: -1px -1px transparent, -1px -1px #36550c;
}
.btn.green.gradient {
  background: #8bdc1e;
  background: -webkit-gradient(linear, left bottom, left top, #6faf18, #8bdc1e);
  background: -moz-linear-gradient(center bottom, #6faf18 0%, #8bdc1e 100%);
  -o-box-shadow: 0 1px 2px #FFFFFF inset;
  -moz-box-shadow: 0 1px 2px #FFFFFF inset;
  -webkit-box-shadow: 0 1px 2px #FFFFFF inset;
  box-shadow: 0 1px 2px #FFFFFF inset;
}
.btn.green.gradient:hover {
  background: #91e125;
  background: -webkit-gradient(linear, left bottom, left top, #76ba19, #91e125);
  background: -moz-linear-gradient(center bottom, #76ba19 0%, #91e125 100%);
  color: #ffffff;
  text-shadow: -1px -1px transparent, -1px -1px #36550c;
  -o-box-shadow: 0 1px 2px #ffffff inset, 0px 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px #ffffff inset, 0px 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 2px #ffffff inset, 0px 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px #ffffff inset, 0px 1px 3px rgba(0, 0, 0, 0.15);
}
.btn.green.gradient:active,
.btn.green.gradient:focus {
  background: #97e331;
  color: #ffffff;
  text-shadow: -1px -1px transparent, -1px -1px #36550c;
  -o-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
}
.btn.green.gradient:visited {
  background: #8bdc1e;
  color: #ffffff;
  text-shadow: -1px -1px transparent, -1px -1px #36550c;
}
.btn.green.plain {
  background: none;
  border: 0px none;
  text-shadow: none;
  color: #8bdc1e;
}
.btn.green.plain:hover {
  color: #7dc61b;
}
.btn.green.plain:visited {
  background: #8bdc1e;
}
.btn.green[disabled],
.btn.green[disabled]:hover,
.btn.green[disabled]:focus,
.btn.green[disabled]:active {
  cursor: default;
  color: #999;
  text-shadow: 1px 1px #FFFFFF;
  background: #eee;
  box-shadow: none;
  border-color: #ddd;
}
.btn.purple {
  display: inline-block;
  text-decoration: none;
  font-family: inherit;
  padding: 0.5em 1.5em;
  border: 1px solid #000000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #eeccff;
  text-shadow: -1px -1px transparent, -1px -1px #000000;
}
.btn.purple.flat {
  background: #660099;
}
.btn.purple.flat:hover {
  background: #8800cc;
  color: #eeccff;
  text-shadow: -1px -1px transparent, -1px -1px #000000;
}
.btn.purple.flat:active,
.btn.purple.flat:focus {
  background: #7700b3;
  color: #eeccff;
  text-shadow: -1px -1px transparent, -1px -1px #000000;
}
.btn.purple.flat:visited {
  background: #660099;
  color: #eeccff;
  text-shadow: -1px -1px transparent, -1px -1px #000000;
}
.btn.purple.gradient {
  background: #660099;
  background: -webkit-gradient(linear, left bottom, left top, #440066, #660099);
  background: -moz-linear-gradient(center bottom, #440066 0%, #660099 100%);
  -o-box-shadow: 0 1px 2px #FFFFFF inset;
  -moz-box-shadow: 0 1px 2px #FFFFFF inset;
  -webkit-box-shadow: 0 1px 2px #FFFFFF inset;
  box-shadow: 0 1px 2px #FFFFFF inset;
}
.btn.purple.gradient:hover {
  background: #6f00a6;
  background: -webkit-gradient(linear, left bottom, left top, #4d0073, #6f00a6);
  background: -moz-linear-gradient(center bottom, #4d0073 0%, #6f00a6 100%);
  color: #eeccff;
  text-shadow: -1px -1px transparent, -1px -1px #000000;
  -o-box-shadow: 0 1px 2px #ffffff inset, 0px 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px #ffffff inset, 0px 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 2px #ffffff inset, 0px 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px #ffffff inset, 0px 1px 3px rgba(0, 0, 0, 0.15);
}
.btn.purple.gradient:active,
.btn.purple.gradient:focus {
  background: #7700b3;
  color: #eeccff;
  text-shadow: -1px -1px transparent, -1px -1px #000000;
  -o-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
}
.btn.purple.gradient:visited {
  background: #660099;
  color: #eeccff;
  text-shadow: -1px -1px transparent, -1px -1px #000000;
}
.btn.purple.plain {
  background: none;
  border: 0px none;
  text-shadow: none;
  color: #660099;
}
.btn.purple.plain:hover {
  color: #550080;
}
.btn.purple.plain:visited {
  background: #660099;
}
.btn.purple[disabled],
.btn.purple[disabled]:hover,
.btn.purple[disabled]:focus,
.btn.purple[disabled]:active {
  cursor: default;
  color: #999;
  text-shadow: 1px 1px #FFFFFF;
  background: #eee;
  box-shadow: none;
  border-color: #ddd;
}
.btn.black {
  display: inline-block;
  text-decoration: none;
  font-family: inherit;
  padding: 0.5em 1.5em;
  border: 1px solid #000000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #cccccc;
  text-shadow: -1px -1px transparent, -1px -1px #000000;
}
.btn.black.flat {
  background: #333333;
}
.btn.black.flat:hover {
  background: #4d4d4d;
  color: #cccccc;
  text-shadow: -1px -1px transparent, -1px -1px #000000;
}
.btn.black.flat:active,
.btn.black.flat:focus {
  background: #404040;
  color: #cccccc;
  text-shadow: -1px -1px transparent, -1px -1px #000000;
}
.btn.black.flat:visited {
  background: #333333;
  color: #cccccc;
  text-shadow: -1px -1px transparent, -1px -1px #000000;
}
.btn.black.gradient {
  background: #333333;
  background: -webkit-gradient(linear, left bottom, left top, #1a1a1a, #333333);
  background: -moz-linear-gradient(center bottom, #1a1a1a 0%, #333333 100%);
  -o-box-shadow: 0 1px 2px #FFFFFF inset;
  -moz-box-shadow: 0 1px 2px #FFFFFF inset;
  -webkit-box-shadow: 0 1px 2px #FFFFFF inset;
  box-shadow: 0 1px 2px #FFFFFF inset;
}
.btn.black.gradient:hover {
  background: #393939;
  background: -webkit-gradient(linear, left bottom, left top, #202020, #393939);
  background: -moz-linear-gradient(center bottom, #202020 0%, #393939 100%);
  color: #cccccc;
  text-shadow: -1px -1px transparent, -1px -1px #000000;
  -o-box-shadow: 0 1px 2px #ffffff inset, 0px 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px #ffffff inset, 0px 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 2px #ffffff inset, 0px 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px #ffffff inset, 0px 1px 3px rgba(0, 0, 0, 0.15);
}
.btn.black.gradient:active,
.btn.black.gradient:focus {
  background: #404040;
  color: #cccccc;
  text-shadow: -1px -1px transparent, -1px -1px #000000;
  -o-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
}
.btn.black.gradient:visited {
  background: #333333;
  color: #cccccc;
  text-shadow: -1px -1px transparent, -1px -1px #000000;
}
.btn.black.plain {
  background: none;
  border: 0px none;
  text-shadow: none;
  color: #333333;
}
.btn.black.plain:hover {
  color: #262626;
}
.btn.black.plain:visited {
  background: #333333;
}
.btn.black[disabled],
.btn.black[disabled]:hover,
.btn.black[disabled]:focus,
.btn.black[disabled]:active {
  cursor: default;
  color: #999;
  text-shadow: 1px 1px #FFFFFF;
  background: #eee;
  box-shadow: none;
  border-color: #ddd;
}
/*====================================================================
    etch.css
======================================================================

    @name           Etch overbranding
    @author         Gavyn McKenzie
    @copyright      Gavyn McKenzie
    @description    Etch branding CSS

======================================================================
    Contents
======================================================================

    - Variables
    - Root

/*====================================================================
    Variables
======================================================================*/
.body-font,
.header-font {
  font-family: 'Lato', sans-serif;
}
/*====================================================================
    Root
======================================================================*/
html {
  border-top: 0.25em solid #FF6666;
}
body {
  color: #444;
}
h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  font-weight: 300;
}
h1:before {
  background: none repeat scroll 0 0 #FF6666;
  content: "";
  float: left;
  height: 1em;
  margin-right: 0.5em;
  position: relative;
  top: 0.1em;
  width: 1em;
}
h3 {
  color: #FF6666;
}
p {
  font-weight: 300;
}
body {
  width: 90%;
  max-width: 47em;
  padding-top: 1.2em;
  margin: auto;
  font-family: 'Trebuchet MS', Trebuchet, sans-serif;
  font-family: 'Lato', sans-serif;
}
/* Go nuts :) */
