/* Variables */
.header-font {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.body-font {
  font-family: 'Trebuchet MS', Trebuchet, sans-serif;
}
.monospace {
  font-family: "Monaco", Courier New, monospace;
}
